@{
    ViewData["Title"] = "Bienvenido";
}

<h1>Bienvenido al sistema</h1>

<p>Autenticación exitosa.</p>
11. Pantalla Error

Views/Account/Error.cshtml

@{
    ViewData["Title"] = "Error";
}

<h1>Error de autenticación</h1>

<p>Usuario o contraseña incorrectos.</p>
