*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f4f3ff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.phone{
    width:390px;
    height:800px;
    background:white;
    border-radius:30px;
    overflow-y:auto;
    box-shadow:0 10px 40px rgba(0,0,0,.08);
}

header{
    padding:30px;
}

.profile{
    text-align:center;
}

.avatar{

    width:100px;
    height:100px;

    margin:auto;

    border-radius:50%;

    background:linear-gradient(
        135deg,
        #7C4DFF,
        #A970FF
    );

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;

    font-size:35px;

    font-weight:bold;
}

.profile h2{
    margin-top:15px;
}

.profile p{
    color:#777;
}

.options{
    padding:20px;
}

.option{

    background:#f8f8ff;

    padding:18px;

    border-radius:15px;

    margin-bottom:12px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.version{

    text-align:center;

    color:#888;

    margin-top:20px;
}

.logout{

    padding:20px;
    padding-bottom:120px;
}

.logout button{

    width:100%;

    height:50px;

    border:none;

    border-radius:15px;

    background:#ef4444;

    color:white;

    font-weight:bold;

    cursor:pointer;
}

nav{

    position:fixed;

    width:390px;

    bottom:0;

    height:80px;

    background:white;

    border-top:1px solid #eee;

    display:flex;

    justify-content:space-around;

    align-items:center;
}

nav a{

    text-decoration:none;

    color:#888;

    display:flex;

    flex-direction:column;

    align-items:center;

    font-size:14px;
}

nav a.active{

    color:#7C4DFF;

    font-weight:bold;
}